@{
    ViewData["Title"] = "Team Update";
}

@model AdminTeamUpdateVM

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Update</h6>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Surname" class="form-label">Surname</label>
                    <input asp-for="Surname" class="form-control" asp-for="Surname">
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Position" class="form-label">Position</label>
                    <input asp-for="Position" class="form-control" asp-for="Position">
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <img src="~/@Model.ImgUrl" width="100" length="100" />
                <div class="mb-3">
                    <label asp-for="Image" class="form-label">Image</label>
                    <input asp-for="Image" accept="image/*">
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>